@import '../../styles/breakpoints.scss';

.intro-container {
  height: 80vh;
  margin: 0px auto;
  max-width: 1000px;
  padding: 0 5vw;
}

.intro {
  padding: 16% 0 0 0;
  color: rgb(228, 228, 228);
  font-weight: 500;
}

.intro h1 {
  font-size: 90px;
  font-weight: 600;

  @include media('<=desktop') {
    font-size: 70px;
  }
  @include media('<=tablet') {
    font-size: 50px;
  }
  @include media('<=phone') {
    font-size: 40px;
  }
}

.intro h3 {
  font-size: clamp(20px, 5vw, 25px);
}

.name-intro {
  color: var(--blueish);
}

.name-intro-desc {
  color: rgb(228, 228, 228);
}

.lineChildren {
  transform: translate(0, 500px);
}

.lineParent {
  overflow: hidden;
}