.intro-container {
  height: 90vh;
  margin: 0px auto;
  max-width: 1000px;
}

.intro {
  padding: 10% 0;
  color: rgb(228, 228, 228);
  font-weight: 500;
}

.intro h1 {
  font-size: 90px;
  font-weight: 600;
}

.intro h3 {
  font-size: 25px;
}

.name-intro {
  color: var(--blueish);
}

.name-intro-desc {
  color: rgb(228, 228, 228);
}
