@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    box-sizing: border-box;
    cursor: none;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(9, 9, 9);
}

:root {
    --blueish:  rgba(0,136,169,1);
    --nicewhite: rgb(228, 228, 228);
}

html {
    scroll-behavior: smooth;
    height: 100%;
}
