.about-me {
    color: rgb(228, 228, 228);
    /* height: 60vh; */
    margin: 0px auto;
    padding: 0 5vw;
}

.about-me h1 {
    padding: 80px 0;
    font-size: 60px;
    font-weight: 600;
    color: rgba(0,136,169,1);
    text-transform: uppercase;
}

.about-me p {
    font-size: 60px;
    line-height: 1.12;
}