.about-me {
  color: rgb(228, 228, 228);
  height: 100vh;
  margin: 0 0 150px 0;
  padding: 0 5vw;
}

.about-me h1 {
  padding: 80px 0;
  font-size: clamp(20px, 8vw, 60px);
  font-weight: 600;
  color: rgba(0, 136, 169, 1);
  text-transform: uppercase;
  clip-path: inset(100% 0% 0% 0%);
  transition: clip-path 1s cubic-bezier(0.77, 0, 0.175, 1);

  &.is-reveal {
    clip-path: inset(0% 0% 0% 0%);
  }
}

.about-me p {
  font-size: clamp(20px, 8vw, 60px);
  line-height: 1.12;
  clip-path: inset(100% 0% 0% 0%);
  transition: clip-path 1.5s cubic-bezier(0.77, 0, 0.175, 1);

  &.is-reveal {
    clip-path: inset(0% 0% 0% 0%);
  }
}

.lineChildren {
  transform: translate(0, 500px);
}

.lineParent {
  overflow: hidden;
}
