.footer-section {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    min-height: 70px;
    padding: 15px;
    text-align: center;
    margin: 3% 0 0 0;
}

.footer-section p {
    color: rgb(228, 228, 228);
    font-size: 20px;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    list-style: none;
}

#icon-size {
    font-size: 60px;
    cursor: none;
    transition: all 0.3s ease 0s;
    color: rgba(0,136,169,1);
    margin: 0 30px;
}

#icon-size:hover {
   color: rgba(0,136,169,0.8);
   transform: translate(0, -10px);
}